body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #c4c4c4;
}
header{
    background:grey;
    color:#910F1B;
    align-items:center;
    display:flex;
    flex-direction: column;
}
nav{
    background: grey;
    color:#910F1B;
    align-items:center;
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    position:sticky;
    top: 0px;
}
nav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
nav ul li{
    display:inline-block;
    padding:10px 10px;
}
a{
    text-decoration: none;
    font-weight: bold;
}
a:link{
    color:black;
}
a:visited{
    color:white;
}
img{
    padding: 10px;
    margin:10px;
}